@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: linear-gradient(to bottom right, rgb(5, 82, 112) , rgb(3, 15, 82));
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box {
	position: relative;
	-webkit-box-reflect: below -20px linear-gradient(transparent, #0002);
}

.box::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 2px;
	height: 80%;
	background: aqua;
	animation: blinkCursor 0.8s steps(3) infinite;
}

@keyframes blinkCursor {
	0%,75% {
		opacity: 1;
	}
	76%,100% {
		opacity: 0;
	}
}

.box h2 {
	position: relative;
	color: aqua;
	letter-spacing: 5px;
	font-size: 3rem;
	animation: typingText 8s steps(14) infinite;
	overflow: hidden;
	white-space: nowrap;
	text-shadow: 0 0 5px aqua;
}

@keyframes typingText {
	0%,90%,100% {
		width: 0;
	}
	30%,60% {
		width: 399.8px;
	}
}
