@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container {
  display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  background: #f2e9e4;
}

input {
  -webkit-appearance: none;
  position: relative;
  width: 120px;
  height: 40px;
  background-color: #9a8c98;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  cursor: pointer;
}

input::before {
  content: "";
  position: absolute;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: #c9ada7;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 20px;
  scale: 1.1;
  transition: .5s ease all;
}

input:checked::before {
  background-color: #22223b;
  left: 80px;
}